<nav>
    <section class="navButts">
        <a href="/">
            <span id="homeNav" aria-labelledby='homeNav'> Home </span>
        </a>
    </section>
    <section class="navButts">
        <a href="/games">
            <span id="gamesNav" aria-labelledby='gamesNav'> Games </span>
        </a>
    </section>
    <section class="navButts">
        <a href="/genres">
            <span id="genresNav" aria-labelledby='genresNav'> Genres </span>
        </a>
    </section>
    <section class="navButts">
        <a href="/newGame">
            <span id="newGameNav" aria-labelledby='newGameNav'> Create New Games </span>
        </a>
    </section>
    <section class="navButts">
        <a href="/newGenre">
            <span id="newGenreNav" aria-labelledby='newGenreNav'> Create New Genres </span>
        </a>
    </section>
</nav>